body {
    font-family: Open Sans,Arial;
    color: #ddd;
    background-color: #222;
    font-size: 20px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
}

div {
    margin:1em auto;
}

input {
    border-radius: 3px;
    border: 1px solid #777;
    color: #fff;
    background-color: #444;
    font-size: 20px;
}

input:hover {
    border: 1px solid #bbb;
}

input:focus-visible {
    outline: 2px solid #007bff;
}

input[type="submit"] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
    cursor: pointer;
}

input[type="submit"]:focus-visible {
    outline-color: #fff;
}